
.content-title{
    background-color: #f3e8ff; /* موف فاتح جدًا */
  }
  
  
.card-custom {
    background-color: #d3c1e6; /* موف فاتح */
 /* لبني وموف */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  }
  
  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4c1d95; /* موف غامق */
    margin-bottom: 10px;
  }
  
  .card-custom p {
    color: #374151; /* رمادي داكن */
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .btn-custom {
    background-color: #7c3aed; /* موف */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-custom:hover {
    background-color: #5b21b6; /* موف أغمق */
  }
  
